{% extends 'mantenimiento/layout_base_mantenimiento.html' %}
{% block title %}Borra Paciente{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <form method="POST">
            {% csrf_token %}
            <h3><strong>¿Desea borrar de forma permanente el registro {{ mantenimiento_objeto.id_mantenimiento }}?</strong></h3>
            <button class="btn btn-danger btn-lg" type="submit">Sí, elimnar</button>
            <a class="btn btn-primary btn-lg" href="{% url 'mantenimiento:index' %}" role="button">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}