{% extends "mantenimiento/layout_base_mantenimiento.html"%}
{% block title %}Resultados de la Busqueda{% endblock %}
{% load static %}
{% block body %}

<br>
<div class="container">
   
    <h1 class="text-center">Resultados de la Búsqueda</h1>
    <!--SearchBox con su respectivo Botón-->
<div class="text-right">
<form action="{% url 'mantenimiento:busqueda_mantenimiento' %}"  method="get">
    <input name="q" type="text" placeholder="Buscar mantenimiento...">
    <button id="search_submit" type="submit reset">Buscar</button>
</form>
</div>
<br>

 <!--Tabla-->
    {% if object_list %}
    <table class="table table-bordered table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">N° de Registro</th>
            <th scope="col">Empleado</th>
            <th scope="col">Equipo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo Mantenimiento</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>

    {% for mantenimiento in object_list %}
        
    <tr>
      <th scope="row">{{mantenimiento.id_mantenimiento}}</th>
      <td>{{mantenimiento.id_empleado}}</td>
      <td>{{mantenimiento.id_equipo}}</td>
      <td>{{mantenimiento.fecha}}</td>
      <td>{{mantenimiento.id_tipo_mantenimiento}}</td>
      <td><a href="{% url 'mantenimiento:descripcion_mantenimiento' mantenimiento.id_mantenimiento %}"><img src="{% static 'bootstrap/icons/info-circle.svg' %}" alt="My image" width="30px"></a>
          <a href="{% url 'mantenimiento:editar_mantenimiento' mantenimiento.id_mantenimiento %}"><img src="{% static 'bootstrap/icons/pencil-square.svg' %}" alt="My image" width="30px"></a>
          
      </td>
    </tr>
    {% endfor %}
{% else %}
<div class="text-center">
<h1>No hay coincidencias!</h1>
<img src="{% static 'img\rocket.gif' %}" alt="cohete">
</div>
{% endif %}
</tbody>
</table>
    </div>
{% endblock %}