{% extends "mantenimiento/layout_base_mantenimiento.html"%}
{% load static %}
{% block title %}Descripcion Bodega{% endblock %}
{% block body %}
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <!--Tabla-->
            {% if descripcion_bodega %}
                <table class="table table-bordered table-hover table-dark text-center">
                    <thead>
                    <tr>
                        <th scope="col">Atributos</th>
                        <th scope="col">Datos</th>
                    </tr>
                    </thead>
                    <tbody>
                
                        <tr>
                            <th scope="row">Código</th> 
                            <td>{{descripcion_bodega.id_bodega}}</td>      
                        </tr>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>{{descripcion_bodega.nombre_recurso}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Descripcion</th>
                            <td>{{descripcion_bodega.descripcion}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Tipo de Recurso</th>
                            <td>{{descripcion_bodega.id_tipo_recurso}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Acciones:</th>
                            <td><a href="{% url 'mantenimiento:editar_bodega' descripcion_bodega.id_bodega %}"><img src="{% static 'bootstrap/icons/pencil-square.svg' %}" alt="My image" width="30px"></a>
                            </td>
                        </tr>
            {% else %}
                <h1 class="text-center">No hay recursos registrados</h1>
            {% endif %}
                </tbody>
            </table>
            <div class="row justify-content-md-center">
                <button type="button" class="button button2 "><a href="{% url 'mantenimiento:index_bodega' %}" style="color: white;">Regresar</a></button>
                <button type="button" class="button button1 "><a href="{% url 'mantenimiento:pdf_bodega' descripcion_bodega.id_bodega %}" style="color: white;">Imprimir</a></button>
            </div>
        </div>
    </div>
</div>
  
{% endblock %}
