{% extends "mantenimiento/layout_base_mantenimiento.html"%}
{% load static %}
{% block title %}Mantenimiento{% endblock %}
{% block body %}
    <div class="container margen-arriba">
        <form method="post">
            {% csrf_token %}
            <!-- Codigo Mantenimiento -->
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-2">
                        <label for="id_tipo_equipo">Codigo:</label>
                    </div>
                    <div class="col-md-6">
                        {{form.id_mantenimiento}}
                    </div>
                </div>
            </div>
            <!-- Fecha Mantenimiento -->
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-2">
                        <label for="fecha">Fecha:</label>
                    </div>
                    <div class="col-md-6">
                        {{form.fecha}}
                    </div>
                </div>
            </div>
            <!-- Descripcion Mantenimiento -->
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-2">
                        <label for="fecha">Descripcion:</label>
                    </div>
                    <div class="col-md-6">
                        {{form.descripcion}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-2">
                        <label for="fecha">Equipo:</label>
                    </div>
                    <div class="col-md-6">
                        {{form.id_equipo}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-2">
                        <label for="fecha">Empleado:</label>
                    </div>
                    <div class="col-md-6">
                        {{form.id_empleado}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-2">
                        <label for="fecha">Tipo de Mantenimiento:</label>
                    </div>
                    <div class="col-md-6">
                        {{form.id_tipo_mantenimiento}}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" value="Agregar">Guardar</button>
        </form>
    </div>
    
    {% endblock %}