.margen-arriba{
    margin-top: 40pt;
}

.button {
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
   }
  
.button1 {background-color: #a80101;} /* RED */
.button2 {background-color: #4cacaf;} /* LightBlue */

.bgdiv{background-color:red;}

.pagination{
    color: #1b1b1b;
}

.pagination >li >a {
    background-color: white;
    color: #000000;
}

.pagination >li >a:focus,
.pagination >li >a:hover,
.pagination >li >span:focus,
.pagination >li >span:hover
{
    color: #4cacaf;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #353434 !important;
    border: solid 1px  #353434 !important;
}

.pagination > .active > a
{
    background-color: #353434 !important;
    border: solid 1px  #353434;
}

.search_submit{
        margin: 20px auto;
        border: none;
        padding: 10px 44px;
        font-size: 36px;
        position: relative;
        &::before{
        transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        content: '';
        width: 50%;
        height: 100%;
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        }

        & .btn-text{
        color: white;
        // check out mdn docs for different types of blend modes. 
        mix-blend-mode: difference;
        }
        &:hover{
        &::before{
            background: black;
            width: 100%;
        }
        }
        //rounded btn styles
        &.rounded{
        border-radius:50px;
        & .text-green{
            color:#00F0B5;
            mix-blend-mode: difference;
        }
        
        &::before{
            border-radius: 50px;
            width: 25%;
            background: #00F0B5;
        }
        &:hover{
            &::before{
            background: #00F0B5;
            width: 100%;
            }
        }
    }
}