.margen-arriba{
    margin-top: 40pt;
}

.button {
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
   }
  
.button1 {background-color: #a80101;} /* RED */
.button2 {background-color: #4cacaf;} /* LightBlue */