{% extends "equipo/layout_base_equipo.html"%}
{% load static %}
{% block title %}Descripcion{% endblock %}
{% block body %}
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <!--Tabla-->
            {% if descripcion_equipo %}
                <table class="table table-bordered table-hover table-dark text-center">
                    <thead>
                    <tr>
                        <th scope="col">Atributos</th>
                        <th scope="col">Datos</th>
                    </tr>
                    </thead>
                    <tbody>
                
                        <tr>
                            <th scope="row">Código</th> 
                            <td>{{descripcion_equipo.id_equipo}}</td>      
                        </tr>
                        <tr>
                            <th scope="row">Tipo de Equipo:</th>
                            <td>{{descripcion_equipo.id_tipo_equipo}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Marca:</th>
                            <td>{{descripcion_equipo.id_marca}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Estado:</th> 
                            <td>{{descripcion_equipo.id_estado_equipo}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Descripcion:</th>
                            <td>{{descripcion_equipo.descripcion}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ubicación:</th>
                            <td>{{descripcion_equipo.id_ubicacion}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Edificio:</th>
                            <td>{{descripcion_equipo.id_ubicacion.id_edificio}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Acciones:</th>
                            <td><a href="{% url 'equipo:editar_equipo' descripcion_equipo.id_equipo %}"><img src="{% static 'bootstrap/icons/pencil-square.svg' %}" alt="My image" width="30px"></a>
                            </td>
                        </tr>
            {% else %}
                <h1 class="text-center">No hay equipos registrados</h1>
            {% endif %}
                </tbody>
            </table>
            <div class="row justify-content-md-center">
                <button type="button" class="button button2 "><a href="{% url 'equipo:lista_de_equipos' %}" style="color: white;">Regresar</a></button>
                <button type="button" class="button button1 "><a href="{% url 'equipo:PDF' descripcion_equipo.id_equipo %}" style="color: white;">Imprimir</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
