{% extends "equipo/layout_base_equipo.html"%}
{% load static %}
{% block title %}Equipo{% endblock %}
{% block body %}
<div class = 'container'>
    <h1 class="text-center">TABLA DE EQUIPOS EN EXISTENCIA</h1>
    <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">N° REGISTRO</th>
            <th scope="col">MARCA</th>
            <th scope="col">TIPO DE EQUIPO</th>
            <th scope="col">UBICACION</th>
            <th scope="col">EDIFICIO</th>
            <th scope="col">DETALLE DEL EQUIPO</th>
          </tr>
        </thead>
        <tbody>
    {% if lista_equipo %}
          {% for tablaequipo in lista_equipo %}
          <tr>
            <th scope="row">{{tablaequipo.id_equipo}}</th>
            <td>{{tablaequipo.id_marca}}</td>
            <td>{{tablaequipo.id_tipo_equipo}}</td>
            <td>{{tablaequipo.id_ubicacion}}</td>
            <td>{{tablaequipo.id_ubicacion.id_edificio}}</td>
            <td><a href="{% url 'equipo:des_equipo' tablaequipo.id_equipo %}">Resumen</a>
                <a href="{% url 'equipo:editar_equipo' tablaequipo.id_equipo %}"><img src="{% static 'bootstrap/icons/pencil-square.svg' %}" alt="My image" width="30px"></a>
            </td>
          </tr>
          {% endfor %}
    {% else %}
    <p>No hay registros de equipo</p>
    {% endif %}
        </tbody>
    </table>
      <div class="row justify-content-md-center">
        <button class="button button2 "><a href="{% url 'equipo:nuevo_equipo' %}" style="color:white">Agregar Equipo</a></button>
</div>
{% endblock %}