{% extends "empleado/layout_base_empleado.html"%}
{% block title %}Resultados de la Busqueda{% endblock %}
{% load static %}
{% block body %}
<style>
  
  
  .search_submit{
      
      font-size: 15px;
     
    }
  
  </style>
<br>
<div class="container">
   
    <h1 class="text-center">Resultados de la Búsqueda</h1>
    <!--SearchBox con su respectivo Botón-->
<div class="text-right">
<form action="{% url 'empleado:busqueda_empleado' %}"  method="get">
    <input name="q" type="text" placeholder="Buscar empleado...">
    <button id="search_submit" type="submit reset" class="btn btn-dark search_submit">Buscar</button>
</form>
</div>

<br>
        <div class="row justify-content-md-center text-right">
            <button class="button button2 align-right"><a href="{% url 'empleado:mensaje_empleado' %}" style="color: white;">Regresar</a></button>
        </div>
 <!--Tabla-->
    {% if object_list %}
    <table class="table table-bordered text-center table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Edificio</th>
            <th scope="col">Detalles</th>
          </tr>
        </thead>
        <tbody>

    {% for empleado in object_list %}
        
    <tr>
      <th scope="row">{{empleado.id_empleado}}</th>
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.id_ubicacion}}</td>
      <td>{{empleado.id_ubicacion.id_edificio}}</td>
      <td><a href="{% url 'empleado:des_em' empleado.id_empleado %}"><img src="{% static 'bootstrap/icons/info-circle.svg' %}" alt="My image" width="30px"></a>
          <a href="{% url 'empleado:editar_empleado' empleado.id_empleado %}"><img src="{% static 'bootstrap/icons/pencil-square.svg' %}" alt="My image" width="30px"></a>
          <a href="{% url 'empleado:eliminar_empleado' empleado.id_empleado %}"><img src="{% static 'bootstrap/icons/trash.svg' %}" alt="My image" width="30px"></a>

      </td>
    </tr>
    {% endfor %}
{% else %}
<div class="text-center">
<h1>No hay coincidencias!</h1>
<img src="{% static 'img\rocket.gif' %}" alt="cohete">

</div>
{% endif %}
</tbody>
</table>
    </div>
{% endblock %}