{% extends "empleado/layout_base_empleado.html"%}
{% block title %}Empleado{% endblock %}
{% load static %}
{% block body %}

<br>
<div class="container">
   
    <h1 class="text-center">Tabla de Empleados</h1>
    <!--SearchBox con su respectivo Botón-->
<div class="text-right">
<form action="{% url 'empleado:busqueda_empleado' %}"  method="get">
    <input name="q" type="text" placeholder="Buscar empleado...">
    <button id="search_submit" type="submit reset">Buscar</button>
</form>
</div>
<br>

    <!--Tabla-->
    {% if lista_empleado %}
    <table class="table table-bordered text-center table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Edificio</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
    
            {% for tablaempleado in lista_empleado %}
            <tr>
             <th scope="row">{{tablaempleado.id_empleado}}</th>
             <td>{{tablaempleado.nombre}}</td>
             <td>{{tablaempleado.apellido}}</td>
             <td>{{tablaempleado.id_ubicacion}}</td>
             <td>{{tablaempleado.id_ubicacion.id_edificio}}</td>
             <td><a href="{% url 'empleado:des_em' tablaempleado.id_empleado %}"><img src="{% static 'bootstrap/icons/info-circle.svg' %}" alt="My image" width="30px"></a>
                 <a href="{% url 'empleado:editar_empleado' tablaempleado.id_empleado %}"><img src="{% static 'bootstrap/icons/pencil-square.svg' %}" alt="My image" width="30px"></a>
                 <a href="{% url 'empleado:eliminar_empleado' tablaempleado.id_empleado %}"><img src="{% static 'bootstrap/icons/trash.svg' %}" alt="My image" width="30px"></a>

             </td>
            </tr>
            {% endfor %}
    {% else %}
        <h1 class="text-center">No hay empleados registrados</h1>
    {% endif %}
        </tbody>
    </table>

    <!--Botón Agregar Empleado
     <div class="row justify-content-md-center">
        <button class="button button2 "><a href="{% url 'empleado:nuevo_empleado' %}" style="color:white">Agregar Empleado</a></button>
    </div>
    <br>-->

    <!--Paginación-->
    <div class="row justify-content-md-center">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    Primera
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% ifequal num page_obj.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link current">
                    {{ num }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endifequal %} 
        {% endfor %}        

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Previous">
                    Última
                </a>
            </li>
        {% endif %}
        </ul>
    </div>
    </div>
{% endblock %}