{% block title %}Descripcion{% endblock %}
{% load static %}
{% block body %}
    <br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <!--Tabla-->
                {% if descripcion_empleado %}
                <table class="table table-bordered table-hover table-dark text-center">
                    <thead>
                    <tr>
                        <th scope="col">Atributos</th>
                        <th scope="col">Datos</th>
                    </tr>
                    </thead>
                    <hr>
                    <tbody>
                
                        <tr>
                            <th scope="row">Código</th> 
                            <th>{{descripcion_empleado.id_empleado}}</th>      
                        </tr>
                        <tr>
                            <th scope="row">Nombre(s):</th>
                            <th>{{descripcion_empleado.nombre}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Apellidos:</th>
                            <th>{{descripcion_empleado.apellido}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Fecha de Nacimiento:</th> 
                            <th>{{descripcion_empleado.fecha_nacimiento}}</th>
                        </tr>
                        <tr>
                            <th scope="row">DUI:</th>
                            <th>{{descripcion_empleado.dui}}</th>
                        </tr>
                        <tr>
                            <th scope="row">NIT:</th>
                            <th>{{descripcion_empleado.nit}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Teléfono:</th>
                            <th>{{descripcion_empleado.telefono_fijo}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Cargo:</th>
                            <th>{{descripcion_empleado.id_cargo}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Sexo:</th>
                            <th>{{descripcion_empleado.id_sexo}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Estado:</th>
                            <th>{{descripcion_empleado.id_estado_empleado}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Ubicación:</th>
                            <th>{{descripcion_empleado.id_ubicacion}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Edificio:</th>
                            <th>{{descripcion_empleado.id_ubicacion.id_edificio}}</th>
                        </tr>
                        
                {% else %}
                    <h1 class="text-center">No hay empleados registrados</h1>
                {% endif %}
                    </tbody>
                </table>
                <hr>
        </div>
        <div>
            <h1 class="text-right">inventarioKK</h1>
            <h3>{{fechaHora}}</h3>
        </div>
            </div>
        </div>
    </div>
{% endblock %}